.slider {
    .owl-dots {
        position: absolute;
        bottom: 26px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width:767px) {
            bottom: 10px;
        }

        .owl-dot {
            outline: none;
            box-shadow: none;
            border: none;

            span {
                display: block;
                margin: 0 4px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: rgba(#000000, 0.5);
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    background: rgba($seccolor, 1);
                }
            }

            &.active {
                span {
                    background: rgba($seccolor, 1);
                }
            }
        }
    }

    .owl-nav {
        width: 0;
        height: 0;

        button[class*="owl-"] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 13px;
            color: #fff;
            @include transition(all 0.3s ease-in-out);
            outline: none;
            box-shadow: none;
            border: none;
            width: 43px;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            background-color: rgba(#000000, 0.5);

            &:hover {
                background-color: $seccolor;
            }
        }

        .owl-prev {
            right: 49px;
            justify-content: flex-start;

            @media (max-width:767px) {
                right: 5px;
            }
        }

        .owl-next {
            left: 49px;
            justify-content: flex-end;

            @media (max-width:767px) {
                left: 5px;
            }
        }
    }
}

.companies {
    margin-top: 62px;

    @media (max-width:991px) {
        margin-top: 50px;
    }
}

.compaines-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'Frutiger-black';
    color: #3e3e3e;
    margin-bottom: 30px;

    .seemore {
        font-size: 14px;
        font-family: 'Frutiger-light';
        color: #b5b5b5;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $maincolor;
        }
    }
}

.desc {
    font-size: 18px;
    font-family: 'Frutiger-light';
    color: #3e3e3e;

    @media (max-width:767px) {
        text-align: center;
    }
}

.clients-slider {


    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .owl-dot {
            outline: none;
            box-shadow: none;
            border: none;

            span {
                display: block;
                margin: 0 3px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: rgba(#000000, 0.5);
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    background: $maincolor;
                }
            }

            &.active {
                cursor: auto;

                span {
                    background: $maincolor;
                }
            }
        }
    }

    .owl-nav {
        width: 0;
        height: 0;

        button[class*="owl-"] {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            @include transition(all 0.3s ease-in-out);
            outline: none;
            box-shadow: none;
            border: none;

            &:hover {
                path {
                    fill: $maincolor;
                }
            }
        }

        .owl-prev {
            right: -31px;
            justify-content: flex-start;

            @media (max-width:1199px) {
                right: -20px;
            }

            @media (max-width:767px) {
                right: 5px;
            }
        }

        .owl-next {
            left: -31px;
            justify-content: flex-end;

            @media (max-width:1199px) {
                left: -20px;
            }

            @media (max-width:767px) {
                left: 5px;
            }
        }
    }
}

.client {
    .client-img {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 154px;
        height: 126px;
        position: relative;
        margin: 48px auto 0;

        img {
            width: auto;
            z-index: 2;
            @include transition(all 0.3s ease-in-out);
            margin: 0 auto;
            -webkit-filter: grayscale(100%);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            opacity: 0.5;
        }

        &:hover {
            img {
                opacity: 1;
                -webkit-filter: none;
                /* Safari 6.0 - 9.0 */
                filter: none;
            }

            .client-name {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .client-name {
        z-index: 9;
        height: 24px;
        width: 107px;
        border-radius: 3px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
        color: #fff;
        font-family: 'Frutiger-light';
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all 0.3s ease-in-out);
        opacity: 0;
        visibility: hidden;

        &:before {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 6px;
            border-color: #000 transparent transparent;
            border-style: solid;
            bottom: -12px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            z-index: 999;
        }
    }
}