body {
    font-family: Frutiger;
    overflow: hidden;

    &::-webkit-scrollbar {
        background-color: rgba(#535353, 0.2);
        width: 8px;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($seccolor, 0.5);

        &:hover {
            background-color: rgba($seccolor, 1);
        }
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba($seccolor, 0.75) rgba(#535353, 0.2);
    overflow: hidden;
}

.container {
    max-width: 1170px;

}

.fixall {
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;

    -webkit-animation-iteration-count: $iteration;
    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;

    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;

    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}

@include keyframes(move) {
    to {
        stroke-dashoffset: -1200;
    }
}

@include keyframes(fade) {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.mo-loader {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 9999999;
}

.loader {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 0;
    width: 30%;
    z-index: 9999999;

    @media (max-width:767px) {
        width: 100%;
    }

    svg {
        left: 0;
        position: absolute;
        top: 50%;
        @include translate(0, -50%);

    }
}

.animation {
    fill: none;
    stroke: #9ec43b;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    opacity: 1;
    stroke-dasharray: 600;
    -webkit-animation: move 5s linear forwards infinite, fade 5s linear infinite;
    animation: move 5s linear forwards infinite, fade 5s linear infinite;
}

.flex-fix {
    display: flex;
}