.header {
    background-image: url(../images/head-pat.png);
    background-repeat: repeat-x;
    background-color: #1e6fb9;
    position: relative;
}

.header-bars {
    display: flex;
    position: relative;
    padding-top: 12px;
    flex-direction: column;

    @media (max-width:1199px) {
        align-items: center;
    }

    @media (max-width:991px) {
        padding: 0;
    }
}

.logo {
    position: absolute;
    right: 0;
    top: -11px;
    padding: 11px;
    border-radius: 50%;
    background-color: #1e6fb9;
    z-index: 2;

    @media (max-width:1199px) {
        position: static;
        padding-top: 0;
        order: 2;
    }
}

html[dir="ltr"] .logo {
    right: auto;
    left: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width:1199px) {
        width: 100%;
        order: 1;
    }

    @media (max-width:991px) {
        display: none;
    }

    a {
        font-size: 14px;
        color: #acd7ff;
        @include transition(all 0.3s ease-in-out);

        &.mo-contact {
            margin: 0 29px;
        }

        &.mo-user {
            i {
                margin: 0 8px;
            }
        }

        &:hover {
            color: $maincolor;
        }
    }
}

.sec-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 44px;
    margin-bottom: 19px;
    overflow-x: hidden;

    @media (max-width:1199px) {
        margin-top: 0;
        width: 100%;
        order: 2;
        justify-content: center;
    }
}

.mo-user-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 39px;

    @media (max-width:991px) {
        margin: 0;
    }
}

html[dir="ltr"] .mo-user-nav {
    margin-left: 25px;
    margin-right: 0;

    @media (max-width:991px) {
        margin: 0;
    }
}

.user-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &.mo-user {
        display: none;
        border: 1px solid transparent;
        color: $seccolor;
        background-color: #fff;
        position: relative;
        margin: 0 8px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            border: 1px solid #4587c4;
            color: #fff;
            background-color: transparent;
        }

        @media (max-width:991px) {
            display: flex;
        }
    }

    &.menu-btn {
        display: none;
        border: 1px solid #4587c4;
        color: #fff;
        background-color: transparent;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            border: 1px solid transparent;
            color: $seccolor;
            background-color: #fff;
        }

        @media (max-width:991px) {
            display: flex;
        }
    }

    &.search-icon {
        border: 1px solid #4587c4;
        color: #fff;
        background-color: transparent;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            border: 1px solid transparent;
            color: $seccolor;
            background-color: #fff;
        }
    }

    &.mo-cart-icon {
        border: 1px solid transparent;
        color: $seccolor;
        background-color: #fff;
        position: relative;
        margin-right: 8px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            border: 1px solid #4587c4;
            color: #fff;
            background-color: transparent;

            .items {
                animation: vibe 0.7s
            }
        }
    }

    .items {
        font-size: 12px;
        color: #fff;
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: $maincolor;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: 0;
        right: 0;
    }
}



.user-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &.menu-btn {
        border: 1px solid transparent;
        color: $seccolor;
        background-color: #fff;
        position: relative;
        margin-left: 8px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            border: 1px solid transparent;
            color: $seccolor;
            background-color: #fff;

        }

        @media (max-width:991px) {
            display: flex;
        }
    }

    &.search-icon {
        border: 1px solid #4587c4;
        color: #fff;
        background-color: transparent;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            border: 1px solid transparent;
            color: $seccolor;
            background-color: #fff;
        }
    }
}

html[dir="ltr"] .user-anchor {
    &.menu-btn {
        margin-right: 8px;
        margin-left: 0;
    }
}

.close-search {
    display: none;
}